* {
    margin: 0;
    padding: 0;
}
    
body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Century Gothic", Helvetica, Sans-Serif;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%;
    background-color: white;
    background-image: url(img/Background.png);
}

.main-header {
    padding-top: 0.25em;
    background-color: #309;
    background-image: linear-gradient(#941a1d, #680a1b);
}

.header-wrapper,
.header-text-div,
.doclink-ul {
    margin: auto;
    display: table;
}

.header-text-div {
    text-align: left;
    color: white;
    float: left;
}

.logo {
    float: left;
}

.logo img {
    margin: 0;
    padding: 0;
    outline: none;
    width: 5em;
    height: 5em;
    max-height: 300px;
    background-position: 0 0px;
    background-size: 5em;
    background-repeat: no-repeat;
    background-image:url('img/icon.png');
}

.logo a:hover img {
    background-position: 0 -5em;
}

.section-header-h1,
.section-header-h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

.section-header-h1 a,
.section-header-h2 a,
.section-header-h1 a:visited,
.section-header-h2 a:visited {
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}

.section-header-h1 a,
.section-header-h1 a:visited {
    min-height: 1.25em;
    color: white;
    line-height: 1.25em;
    font-size: 1em;
    background-color: #009;
    border-radius: 0.725em;
}

.section-header-h2 a {
    height: 1em;
    line-height: 1em;
    font-size: 0.75em;
}

.section-header-h1 a:hover,
.section-header-h1 a:active {
    background-color: #060;
}

.doclink-ul {
    clear: both;
    text-align: left;
    margin-top: 1em;
    list-style-type: none;
}

.doclink-table {
    width: 100%;
    display: block;
    max-width: 70em;
    margin-left: 1em;
}

.doclink-section-li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.5em;
}

.header-td {
    text-align: center;
    font-weight: bold;
    padding-top: 0.5em;
}

.doclink-img,
.doc-image-td {
    width: 5em !important;
}

.description-td {
    font-weight: lighter;
    padding-left: 1em;
    line-height: 19px;
    overflow: auto;
}

.doclink-text {
    padding-left: 1em;
    line-height: 19px;
    max-width: 10em;
}

a,
a:visited {
    text-decoration: none;
    color: #009;
}

a:hover,
a:active {
    color: #060;
    text-decoration: underline;
}

.description-td a,
.description-td a:visited {
    text-decoration: underline;
}

.description-td a:hover,
.description-td a:active {
    text-decoration: none;
}

.doclink-ul li a .doclink-img,
.doclink-ul li a:visited .doclink-img {
    border-radius: 50%;
    border: 4px solid transparent;
}

.doclink-ul li a:hover .doclink-img,
.doclink-ul li a:active .doclink-img {
    border-radius: 50%;
    border: 4px solid #060;
    text-decoration: none;
}

img.corp-img {
    height: 1em;
    margin-top: 0.125em;
    margin-right: 0.5em;
    float: left;
}
